# common
node_modules
.DS_Store
*.log
*.gz

# client
yarn.lock
static/dist

# server
server/target
server/logs
server/.idea
server/lib
project.properties
.vscode/launch.json
server/src/main/resources/static/admin
server/src/main/resources/static/app
